(
A,
Aacute,
Abreve,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Acaron,
Acircumflex,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Adblgrave,
Adieresis,
Adotbelow,
Agrave,
Ahookabove,
Ainvertedbreve,
Amacron,
Aogonek,
Aring,
Aringacute,
Atilde,
AE,
AEacute,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Ccedillaacute,
Ccircumflex,
Cdotaccent,
D,
DZcaron,
Eth,
Dcaron,
Dcroat,
Ddotbelow,
Dlinebelow,
Dzcaron,
E,
Eacute,
Ebreve,
Ecaron,
Ecedillabreve,
Ecircumflex,
Ecircumflexacute,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexhookabove,
Ecircumflextilde,
Edblgrave,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Ehookabove,
Einvertedbreve,
Emacron,
Emacronacute,
Emacrongrave,
Eogonek,
Etilde,
Ezh,
Ezhcaron,
F,
G,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Gmacron,
Gstroke,
H,
Hbar,
Hbrevebelow,
Hcaron,
Hcircumflex,
Hdotbelow,
I,
IJ,
Iacute,
Ibreve,
Icaron,
Icircumflex,
Idblgrave,
Idieresis,
Idieresisacute,
Idotaccent,
Idotbelow,
Igrave,
Ihookabove,
Iinvertedbreve,
Imacron,
Iogonek,
Itilde,
J,
Jcircumflex,
K,
Kcaron,
Kcommaaccent,
L,
LJ,
Lacute,
Lcaron,
Lcommaaccent,
Ldot,
Ldotbelow,
Lj,
Llinebelow,
Lslash,
M,
Mdotbelow,
N,
NJ,
Nacute,
Ncaron,
Ncommaaccent,
Ndotaccent,
Ndotbelow,
Eng,
Nj,
Nlinebelow,
Ntilde,
O,
Oacute,
Obreve,
Ocaron,
Ocircumflex,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Odblgrave,
Odieresis,
Odieresismacron,
Odotaccentmacron,
Odotbelow,
Ograve,
Ohookabove,
Ohorn,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Ohungarumlaut,
Oinvertedbreve,
Omacron,
Omacronacute,
Omacrongrave,
Oogonek,
Oslash,
Oslashacute,
Otilde,
Otildeacute,
Otildedieresis,
Otildemacron,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
Rdblgrave,
Rdotbelow,
Rinvertedbreve,
Rlinebelow,
S,
Sacute,
Sacutedotaccent,
Saltillo,
Scaron,
Scarondotaccent,
Scedilla,
Scircumflex,
Scommaaccent,
Sdotaccent,
Sdotbelow,
Sdotbelowdotaccent,
Germandbls,
Schwa,
T,
Tbar,
Tcaron,
Tcedilla,
Tcommaaccent,
Tdotbelow,
Tlinebelow,
U,
Uacute,
Ubreve,
Ucaron,
Ucircumflex,
Udblgrave,
Udieresis,
Udieresisacute,
Udieresiscaron,
Udieresisgrave,
Udieresismacron,
Udotbelow,
Ugrave,
Uhookabove,
Uhorn,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhookabove,
Uhorntilde,
Uhungarumlaut,
Uinvertedbreve,
Umacron,
Umacrondieresis,
Uogonek,
Uring,
Utilde,
Utildeacute,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ydotaccent,
Ydotbelow,
Ygrave,
Yhookabove,
Ymacron,
Ytilde,
Z,
Zacute,
Zcaron,
Zdotaccent,
Zdotbelow,
Iacute_J.loclNLD,
Germandbls.alt,
C.ss01,
D.ss01,
I.ss01,
L.ss01,
M.ss01,
V.ss01,
X.ss01,
a,
aacute,
abreve,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehookabove,
abrevetilde,
acaron,
acircumflex,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhookabove,
acircumflextilde,
adblgrave,
adieresis,
adotbelow,
agrave,
ahookabove,
ainvertedbreve,
amacron,
aogonek,
aring,
aringacute,
atilde,
ae,
aeacute,
b,
c,
cacute,
ccaron,
ccedilla,
ccedillaacute,
ccircumflex,
cdotaccent,
d,
eth,
dcaron,
dcroat,
ddotbelow,
dlinebelow,
dzcaron,
e,
eacute,
ebreve,
ecaron,
ecedillabreve,
ecircumflex,
ecircumflexacute,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
edblgrave,
edieresis,
edotaccent,
edotbelow,
egrave,
ehookabove,
einvertedbreve,
emacron,
emacronacute,
emacrongrave,
eogonek,
etilde,
schwa,
ezh,
ezhcaron,
f,
g,
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
gmacron,
gstroke,
h,
hbar,
hbrevebelow,
hcaron,
hcircumflex,
hdotbelow,
i,
idotless,
iacute,
ibreve,
icaron,
icircumflex,
idblgrave,
idieresis,
idieresisacute,
idotaccent,
idotbelow,
igrave,
ihookabove,
iinvertedbreve,
ij,
imacron,
iogonek,
itilde,
j,
jdotless,
jcircumflex,
k,
kcaron,
kcommaaccent,
kgreenlandic,
l,
lacute,
lcaron,
lcommaaccent,
ldot,
ldotbelow,
lj,
llinebelow,
lslash,
m,
mdotbelow,
n,
nacute,
ncaron,
ncommaaccent,
ndotaccent,
ndotbelow,
eng,
nj,
nlinebelow,
ntilde,
o,
oacute,
obreve,
ocaron,
ocircumflex,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
odblgrave,
odieresis,
odieresismacron,
odotaccentmacron,
odotbelow,
ograve,
ohookabove,
ohorn,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhookabove,
ohorntilde,
ohungarumlaut,
oinvertedbreve,
omacron,
omacronacute,
omacrongrave,
oogonek,
oslash,
oslashacute,
otilde,
otildeacute,
otildedieresis,
otildemacron,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
rdblgrave,
rdotbelow,
rinvertedbreve,
rlinebelow,
s,
sacute,
sacutedotaccent,
saltillo,
scaron,
scarondotaccent,
scedilla,
scircumflex,
scommaaccent,
sdotaccent,
sdotbelow,
sdotbelowdotaccent,
germandbls,
longs,
t,
tbar,
tcaron,
tcedilla,
tcommaaccent,
tdieresis,
tdotbelow,
tlinebelow,
u,
uacute,
ubreve,
ucaron,
ucircumflex,
udblgrave,
udieresis,
udieresisacute,
udieresiscaron,
udieresisgrave,
udieresismacron,
udotbelow,
ugrave,
uhookabove,
uhorn,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhookabove,
uhorntilde,
uhungarumlaut,
uinvertedbreve,
umacron,
umacrondieresis,
uogonek,
uring,
utilde,
utildeacute,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ydotaccent,
ydotbelow,
ygrave,
yhookabove,
ymacron,
ytilde,
z,
zacute,
zcaron,
zdotaccent,
zdotbelow,
idotless.cy,
f.f,
iacute_j.loclNLD,
f.l,
c.ss01,
d.ss01,
i.ss01,
l.ss01,
m.ss01,
v.ss01,
x.ss01,
f.t,
c_h,
c_t,
f_j,
fi,
fl,
s_t,
T_h.liga,
a.sc,
aacute.sc,
abreve.sc,
abreveacute.sc,
abrevedotbelow.sc,
abrevegrave.sc,
abrevehookabove.sc,
abrevetilde.sc,
acaron.sc,
acircumflex.sc,
acircumflexacute.sc,
acircumflexdotbelow.sc,
acircumflexgrave.sc,
acircumflexhookabove.sc,
acircumflextilde.sc,
adblgrave.sc,
adieresis.sc,
adotbelow.sc,
agrave.sc,
ahookabove.sc,
ainvertedbreve.sc,
germandbls.alt.sc,
amacron.sc,
aogonek.sc,
aring.sc,
aringacute.sc,
atilde.sc,
ae.sc,
aeacute.sc,
b.sc,
c.sc,
cacute.sc,
ccaron.sc,
ccedilla.sc,
ccedillaacute.sc,
ccircumflex.sc,
cdotaccent.sc,
d.sc,
eth.sc,
dcaron.sc,
dcroat.sc,
ddotbelow.sc,
dlinebelow.sc,
dzcaron.sc,
e.sc,
eacute.sc,
ebreve.sc,
ecaron.sc,
ecedillabreve.sc,
ecircumflex.sc,
ecircumflexacute.sc,
ecircumflexdotbelow.sc,
ecircumflexgrave.sc,
ecircumflexhookabove.sc,
ecircumflextilde.sc,
edblgrave.sc,
edieresis.sc,
edotaccent.sc,
edotbelow.sc,
egrave.sc,
ehookabove.sc,
einvertedbreve.sc,
emacron.sc,
emacronacute.sc,
emacrongrave.sc,
eogonek.sc,
etilde.sc,
schwa.sc,
ezh.sc,
ezhcaron.sc,
f.sc,
fi.sc,
fl.sc,
g.sc,
gbreve.sc,
gcaron.sc,
gcircumflex.sc,
gcommaaccent.sc,
gdotaccent.sc,
gmacron.sc,
gstroke.sc,
h.sc,
hbar.sc,
hbrevebelow.sc,
hcaron.sc,
hcircumflex.sc,
hdotbelow.sc,
i.sc,
idotless.sc,
iacute.sc,
iacute_j.loclNLD.sc,
ibreve.sc,
icaron.sc,
icircumflex.sc,
idblgrave.sc,
idieresis.sc,
idieresisacute.sc,
idotaccent.sc,
idotbelow.sc,
igrave.sc,
ihookabove.sc,
iinvertedbreve.sc,
ij.sc,
imacron.sc,
iogonek.sc,
itilde.sc,
j.sc,
jdotless.sc,
jcircumflex.sc,
k.sc,
kcaron.sc,
kcommaaccent.sc,
kgreenlandic.sc,
l.sc,
lacute.sc,
lcaron.sc,
lcommaaccent.sc,
ldot.sc,
ldotbelow.sc,
lj.sc,
llinebelow.sc,
lslash.sc,
m.sc,
mdotbelow.sc,
n.sc,
nacute.sc,
ncaron.sc,
ncommaaccent.sc,
ndotaccent.sc,
ndotbelow.sc,
eng.sc,
nj.sc,
nlinebelow.sc,
ntilde.sc,
o.sc,
oacute.sc,
obreve.sc,
ocaron.sc,
ocircumflex.sc,
ocircumflexacute.sc,
ocircumflexdotbelow.sc,
ocircumflexgrave.sc,
ocircumflexhookabove.sc,
ocircumflextilde.sc,
odblgrave.sc,
odieresis.sc,
odieresismacron.sc,
odotaccentmacron.sc,
odotbelow.sc,
ograve.sc,
ohookabove.sc,
ohorn.sc,
ohornacute.sc,
ohorndotbelow.sc,
ohorngrave.sc,
ohornhookabove.sc,
ohorntilde.sc,
ohungarumlaut.sc,
oinvertedbreve.sc,
omacron.sc,
omacronacute.sc,
omacrongrave.sc,
oogonek.sc,
oslash.sc,
oslashacute.sc,
otilde.sc,
otildeacute.sc,
otildedieresis.sc,
otildemacron.sc,
oe.sc,
p.sc,
thorn.sc,
q.sc,
r.sc,
racute.sc,
rcaron.sc,
rcommaaccent.sc,
rdblgrave.sc,
rdotbelow.sc,
rinvertedbreve.sc,
rlinebelow.sc,
s.sc,
sacute.sc,
sacutedotaccent.sc,
scaron.sc,
scarondotaccent.sc,
scedilla.sc,
scircumflex.sc,
scommaaccent.sc,
sdotaccent.sc,
sdotbelow.sc,
sdotbelowdotaccent.sc,
germandbls.sc,
t.sc,
tbar.sc,
tcaron.sc,
tcedilla.sc,
tcommaaccent.sc,
tdieresis.sc,
tdotbelow.sc,
tlinebelow.sc,
u.sc,
uacute.sc,
ubreve.sc,
ucaron.sc,
ucircumflex.sc,
udblgrave.sc,
udieresis.sc,
udieresisacute.sc,
udieresiscaron.sc,
udieresisgrave.sc,
udieresismacron.sc,
udotbelow.sc,
ugrave.sc,
uhookabove.sc,
uhorn.sc,
uhornacute.sc,
uhorndotbelow.sc,
uhorngrave.sc,
uhornhookabove.sc,
uhorntilde.sc,
uhungarumlaut.sc,
uinvertedbreve.sc,
umacron.sc,
umacrondieresis.sc,
uogonek.sc,
uring.sc,
utilde.sc,
utildeacute.sc,
v.sc,
w.sc,
wacute.sc,
wcircumflex.sc,
wdieresis.sc,
wgrave.sc,
x.sc,
y.sc,
yacute.sc,
ycircumflex.sc,
ydieresis.sc,
ydotaccent.sc,
ydotbelow.sc,
ygrave.sc,
yhookabove.sc,
ymacron.sc,
ytilde.sc,
z.sc,
zacute.sc,
zcaron.sc,
zdotaccent.sc,
zdotbelow.sc,
ordfeminine,
ordmasculine,
hmod,
jmod,
lmod,
nmod,
smod,
wmod,
xmod,
ymod,
a.sups,
b.sups,
c.sups,
d.sups,
e.sups,
f.sups,
g.sups,
h.sups,
i.sups,
j.sups,
k.sups,
l.sups,
m.sups,
n.sups,
o.sups,
p.sups,
q.sups,
r.sups,
s.sups,
t.sups,
u.sups,
v.sups,
w.sups,
x.sups,
y.sups,
z.sups,
"A-cy",
"Be-cy",
"Ve-cy",
"Ge-cy",
"Gje-cy",
"Gheupturn-cy",
"De-cy",
"Ie-cy",
"Iegrave-cy",
"Io-cy",
"Zhe-cy",
"Ze-cy",
"Ii-cy",
"Iishort-cy",
"Iigrave-cy",
"Ka-cy",
"Kje-cy",
"El-cy",
"Em-cy",
"En-cy",
"O-cy",
"Pe-cy",
"Er-cy",
"Es-cy",
"Te-cy",
"U-cy",
"Ushort-cy",
"Ef-cy",
"Ha-cy",
"Che-cy",
"Tse-cy",
"Sha-cy",
"Shcha-cy",
"Dzhe-cy",
"Softsign-cy",
"Hardsign-cy",
"Yeru-cy",
"Lje-cy",
"Nje-cy",
"Dze-cy",
"E-cy",
"Ereversed-cy",
"I-cy",
"Yi-cy",
"Je-cy",
"Tshe-cy",
"Iu-cy",
"Ia-cy",
"Dje-cy",
"Yat-cy",
"Yusbig-cy",
"Fita-cy",
"Izhitsa-cy",
"Ghestroke-cy",
"Ghemiddlehook-cy",
"Zhedescender-cy",
"Zedescender-cy",
"Kadescender-cy",
"Kaverticalstroke-cy",
"Kabashkir-cy",
"Endescender-cy",
"Enghe-cy",
"Pedescender-cy",
"Esdescender-cy",
"Ustrait-cy",
"Ustraitstroke-cy",
"Hadescender-cy",
"Chedescender-cy",
"Cheverticalstroke-cy",
"Shha-cy",
"Palochka-cy",
"Zhebreve-cy",
"Entail-cy",
"Chekhakassian-cy",
"Abreve-cy",
"Adieresis-cy",
"Aie-cy",
"Iebreve-cy",
"Schwa-cy",
"Zhedieresis-cy",
"Zedieresis-cy",
"Imacron-cy",
"Idieresis-cy",
"Odieresis-cy",
"Obarred-cy",
"Umacron-cy",
"Udieresis-cy",
"Uhungarumlaut-cy",
"Chedieresis-cy",
"Gedescender-cy",
"Yerudieresis-cy",
"Qa-cy",
"We-cy",
"Ghestroke-cy.loclBSH",
"Zedescender-cy.loclBSH",
"Esdescender-cy.loclCHU",
"Softsign-cy.cond",
"a-cy",
"be-cy",
"ve-cy",
"ge-cy",
"gje-cy",
"gheupturn-cy",
"de-cy",
"ie-cy",
"iegrave-cy",
"io-cy",
"zhe-cy",
"ze-cy",
"ii-cy",
"iishort-cy",
"iigrave-cy",
"ka-cy",
"kje-cy",
"el-cy",
"em-cy",
"en-cy",
"o-cy",
"pe-cy",
"er-cy",
"es-cy",
"te-cy",
"u-cy",
"ushort-cy",
"ef-cy",
"ha-cy",
"che-cy",
"tse-cy",
"sha-cy",
"shcha-cy",
"dzhe-cy",
"softsign-cy",
"hardsign-cy",
"yeru-cy",
"lje-cy",
"nje-cy",
"dze-cy",
"e-cy",
"ereversed-cy",
"i-cy",
"yi-cy",
"je-cy",
"tshe-cy",
"iu-cy",
"ia-cy",
"dje-cy",
"yat-cy",
"yusbig-cy",
"fita-cy",
"izhitsa-cy",
"ghestroke-cy",
"ghemiddlehook-cy",
"zhedescender-cy",
"zedescender-cy",
"kadescender-cy",
"kaverticalstroke-cy",
"kabashkir-cy",
"endescender-cy",
"enghe-cy",
"pedescender-cy",
"esdescender-cy",
"ustrait-cy",
"ustraitstroke-cy",
"hadescender-cy",
"chedescender-cy",
"cheverticalstroke-cy",
"shha-cy",
"palochka-cy",
"zhebreve-cy",
"entail-cy",
"chekhakassian-cy",
"abreve-cy",
"adieresis-cy",
"aie-cy",
"iebreve-cy",
"schwa-cy",
"zhedieresis-cy",
"zedieresis-cy",
"imacron-cy",
"idieresis-cy",
"odieresis-cy",
"obarred-cy",
"umacron-cy",
"udieresis-cy",
"uhungarumlaut-cy",
"chedieresis-cy",
"gedescender-cy",
"yerudieresis-cy",
"qa-cy",
"we-cy",
"softsign-cy.cond",
"ghestroke-cy.loclBSH",
"zedescender-cy.loclBSH",
"esdescender-cy.loclCHU",
"be-cy.loclSRB",
"a-cy.sc",
"be-cy.sc",
"ve-cy.sc",
"ge-cy.sc",
"gje-cy.sc",
"gheupturn-cy.sc",
"de-cy.sc",
"ie-cy.sc",
"iegrave-cy.sc",
"io-cy.sc",
"zhe-cy.sc",
"ze-cy.sc",
"ii-cy.sc",
"iishort-cy.sc",
"iigrave-cy.sc",
"ka-cy.sc",
"kje-cy.sc",
"el-cy.sc",
"em-cy.sc",
"en-cy.sc",
"o-cy.sc",
"pe-cy.sc",
"er-cy.sc",
"es-cy.sc",
"te-cy.sc",
"u-cy.sc",
"ushort-cy.sc",
"ef-cy.sc",
"ha-cy.sc",
"che-cy.sc",
"tse-cy.sc",
"sha-cy.sc",
"shcha-cy.sc",
"dzhe-cy.sc",
"softsign-cy.sc",
"hardsign-cy.sc",
"yeru-cy.sc",
"lje-cy.sc",
"nje-cy.sc",
"dze-cy.sc",
"e-cy.sc",
"ereversed-cy.sc",
"i-cy.sc",
"yi-cy.sc",
"je-cy.sc",
"tshe-cy.sc",
"iu-cy.sc",
"ia-cy.sc",
"dje-cy.sc",
"yat-cy.sc",
"yusbig-cy.sc",
"fita-cy.sc",
"izhitsa-cy.sc",
"ghestroke-cy.sc",
"ghemiddlehook-cy.sc",
"zhedescender-cy.sc",
"zedescender-cy.sc",
"kadescender-cy.sc",
"kaverticalstroke-cy.sc",
"kabashkir-cy.sc",
"endescender-cy.sc",
"enghe-cy.sc",
"pedescender-cy.sc",
"esdescender-cy.sc",
"ustrait-cy.sc",
"ustraitstroke-cy.sc",
"hadescender-cy.sc",
"chedescender-cy.sc",
"cheverticalstroke-cy.sc",
"shha-cy.sc",
"palochka-cy.sc",
"zhebreve-cy.sc",
"entail-cy.sc",
"chekhakassian-cy.sc",
"abreve-cy.sc",
"adieresis-cy.sc",
"aie-cy.sc",
"iebreve-cy.sc",
"schwa-cy.sc",
"zhedieresis-cy.sc",
"zedieresis-cy.sc",
"imacron-cy.sc",
"idieresis-cy.sc",
"odieresis-cy.sc",
"obarred-cy.sc",
"umacron-cy.sc",
"udieresis-cy.sc",
"uhungarumlaut-cy.sc",
"chedieresis-cy.sc",
"gedescender-cy.sc",
"yerudieresis-cy.sc",
"qa-cy.sc",
"we-cy.sc",
"ghestroke-cy.loclBSH.sc",
"zedescender-cy.loclBSH.sc",
"esdescender-cy.loclCHU.sc",
"softsign-cy.cond.sc",
Alpha,
Beta,
Gamma,
Delta,
Epsilon,
Zeta,
Eta,
Theta,
Iota,
Kappa,
Lambda,
Mu,
Nu,
Xi,
Omicron,
Pi,
Rho,
Sigma,
Tau,
Upsilon,
Phi,
Chi,
Psi,
Omega,
Alphatonos,
Epsilontonos,
Etatonos,
Iotatonos,
Omicrontonos,
Upsilontonos,
Omegatonos,
Iotadieresis,
Upsilondieresis,
KaiSymbol,
Alphapsili,
Alphadasia,
Alphapsilivaria,
Alphadasiavaria,
Alphapsilioxia,
Alphadasiaoxia,
Alphapsiliperispomeni,
Alphadasiaperispomeni,
Alphavaria,
Alphaoxia,
Alphavrachy,
Alphamacron,
Alphaprosgegrammeni,
Alphapsiliprosgegrammeni,
Alphadasiaprosgegrammeni,
Alphapsilivariaprosgegrammeni,
Alphadasiavariaprosgegrammeni,
Alphapsilioxiaprosgegrammeni,
Alphadasiaoxiaprosgegrammeni,
Alphapsiliperispomeniprosgegrammeni,
Alphadasiaperispomeniprosgegrammeni,
Epsilonpsili,
Epsilondasia,
Epsilonpsilivaria,
Epsilondasiavaria,
Epsilonpsilioxia,
Epsilondasiaoxia,
Epsilonvaria,
Epsilonoxia,
Etapsili,
Etadasia,
Etapsilivaria,
Etadasiavaria,
Etapsilioxia,
Etadasiaoxia,
Etapsiliperispomeni,
Etadasiaperispomeni,
Etavaria,
Etaoxia,
Etaprosgegrammeni,
Etapsiliprosgegrammeni,
Etadasiaprosgegrammeni,
Etapsilivariaprosgegrammeni,
Etadasiavariaprosgegrammeni,
Etapsilioxiaprosgegrammeni,
Etadasiaoxiaprosgegrammeni,
Etapsiliperispomeniprosgegrammeni,
Etadasiaperispomeniprosgegrammeni,
Iotapsili,
Iotadasia,
Iotapsilivaria,
Iotadasiavaria,
Iotapsilioxia,
Iotadasiaoxia,
Iotapsiliperispomeni,
Iotadasiaperispomeni,
Iotavaria,
Iotaoxia,
Iotavrachy,
Iotamacron,
Omicronpsili,
Omicrondasia,
Omicronpsilivaria,
Omicrondasiavaria,
Omicronpsilioxia,
Omicrondasiaoxia,
Omicronvaria,
Omicronoxia,
Rhodasia,
Upsilondasia,
Upsilondasiavaria,
Upsilondasiaoxia,
Upsilondasiaperispomeni,
Upsilonvaria,
Upsilonoxia,
Upsilonvrachy,
Upsilonmacron,
Omegapsili,
Omegadasia,
Omegapsilivaria,
Omegadasiavaria,
Omegapsilioxia,
Omegadasiaoxia,
Omegapsiliperispomeni,
Omegadasiaperispomeni,
Omegavaria,
Omegaoxia,
Omegaprosgegrammeni,
Omegapsiliprosgegrammeni,
Omegadasiaprosgegrammeni,
Omegapsilivariaprosgegrammeni,
Omegadasiavariaprosgegrammeni,
Omegapsilioxiaprosgegrammeni,
Omegadasiaoxiaprosgegrammeni,
Omegapsiliperispomeniprosgegrammeni,
Omegadasiaperispomeniprosgegrammeni,
Alphaprosgegrammeni.ss05,
Alphapsiliprosgegrammeni.ss05,
Alphadasiaprosgegrammeni.ss05,
Alphapsilivariaprosgegrammeni.ss05,
Alphadasiavariaprosgegrammeni.ss05,
Alphapsilioxiaprosgegrammeni.ss05,
Alphadasiaoxiaprosgegrammeni.ss05,
Alphapsiliperispomeniprosgegrammeni.ss05,
Alphadasiaperispomeniprosgegrammeni.ss05,
Etaprosgegrammeni.ss05,
Etapsiliprosgegrammeni.ss05,
Etadasiaprosgegrammeni.ss05,
Etapsilivariaprosgegrammeni.ss05,
Etadasiavariaprosgegrammeni.ss05,
Etapsilioxiaprosgegrammeni.ss05,
Etadasiaoxiaprosgegrammeni.ss05,
Etapsiliperispomeniprosgegrammeni.ss05,
Etadasiaperispomeniprosgegrammeni.ss05,
Omegaprosgegrammeni.ss05,
Omegapsiliprosgegrammeni.ss05,
Omegadasiaprosgegrammeni.ss05,
Omegapsilivariaprosgegrammeni.ss05,
Omegadasiavariaprosgegrammeni.ss05,
Omegapsilioxiaprosgegrammeni.ss05,
Omegadasiaoxiaprosgegrammeni.ss05,
Omegapsiliperispomeniprosgegrammeni.ss05,
Omegadasiaperispomeniprosgegrammeni.ss05,
alpha,
beta,
gamma,
delta,
epsilon,
zeta,
eta,
theta,
iota,
kappa,
lambda,
mu,
nu,
xi,
omicron,
pi,
rho,
sigmafinal,
sigma,
tau,
upsilon,
phi,
chi,
psi,
omega,
iotatonos,
iotadieresis,
iotadieresistonos,
upsilontonos,
upsilondieresis,
upsilondieresistonos,
omicrontonos,
omegatonos,
alphatonos,
epsilontonos,
etatonos,
kaiSymbol,
thetaSymbol,
phiSymbol,
piSymbol,
kappaSymbol,
alphapsili,
alphadasia,
alphapsilivaria,
alphadasiavaria,
alphapsilioxia,
alphadasiaoxia,
alphapsiliperispomeni,
alphadasiaperispomeni,
alphavaria,
alphaoxia,
alphaperispomeni,
alphavrachy,
alphamacron,
alphaypogegrammeni,
alphavariaypogegrammeni,
alphaoxiaypogegrammeni,
alphapsiliypogegrammeni,
alphadasiaypogegrammeni,
alphapsilivariaypogegrammeni,
alphadasiavariaypogegrammeni,
alphapsilioxiaypogegrammeni,
alphadasiaoxiaypogegrammeni,
alphapsiliperispomeniypogegrammeni,
alphadasiaperispomeniypogegrammeni,
alphaperispomeniypogegrammeni,
epsilonpsili,
epsilondasia,
epsilonpsilivaria,
epsilondasiavaria,
epsilonpsilioxia,
epsilondasiaoxia,
epsilonvaria,
epsilonoxia,
etapsili,
etadasia,
etapsilivaria,
etadasiavaria,
etapsilioxia,
etadasiaoxia,
etapsiliperispomeni,
etadasiaperispomeni,
etavaria,
etaoxia,
etaperispomeni,
etaypogegrammeni,
etavariaypogegrammeni,
etaoxiaypogegrammeni,
etapsiliypogegrammeni,
etadasiaypogegrammeni,
etapsilivariaypogegrammeni,
etadasiavariaypogegrammeni,
etapsilioxiaypogegrammeni,
etadasiaoxiaypogegrammeni,
etapsiliperispomeniypogegrammeni,
etadasiaperispomeniypogegrammeni,
etaperispomeniypogegrammeni,
iotapsili,
iotadasia,
iotapsilivaria,
iotadasiavaria,
iotapsilioxia,
iotadasiaoxia,
iotapsiliperispomeni,
iotadasiaperispomeni,
iotavaria,
iotaoxia,
iotaperispomeni,
iotavrachy,
iotamacron,
iotadialytikavaria,
iotadialytikaoxia,
iotadialytikaperispomeni,
omicronpsili,
omicrondasia,
omicronpsilivaria,
omicrondasiavaria,
omicronpsilioxia,
omicrondasiaoxia,
omicronvaria,
omicronoxia,
rhopsili,
rhodasia,
upsilonpsili,
upsilondasia,
upsilonpsilivaria,
upsilondasiavaria,
upsilonpsilioxia,
upsilondasiaoxia,
upsilonpsiliperispomeni,
upsilondasiaperispomeni,
upsilonvaria,
upsilonoxia,
upsilonperispomeni,
upsilonvrachy,
upsilonmacron,
upsilondialytikavaria,
upsilondialytikaoxia,
upsilondialytikaperispomeni,
omegapsili,
omegadasia,
omegapsilivaria,
omegadasiavaria,
omegapsilioxia,
omegadasiaoxia,
omegapsiliperispomeni,
omegadasiaperispomeni,
omegavaria,
omegaoxia,
omegaperispomeni,
omegaypogegrammeni,
omegavariaypogegrammeni,
omegaoxiaypogegrammeni,
omegapsiliypogegrammeni,
omegadasiaypogegrammeni,
omegapsilivariaypogegrammeni,
omegadasiavariaypogegrammeni,
omegapsilioxiaypogegrammeni,
omegadasiaoxiaypogegrammeni,
omegapsiliperispomeniypogegrammeni,
omegadasiaperispomeniypogegrammeni,
omegaperispomeniypogegrammeni,
prosgegrammeni,
gamma_gamma,
lambda_lambda,
alpha.sc,
beta.sc,
gamma.sc,
delta.sc,
epsilon.sc,
zeta.sc,
eta.sc,
theta.sc,
iota.sc,
kappa.sc,
lambda.sc,
mu.sc,
nu.sc,
xi.sc,
omicron.sc,
pi.sc,
rho.sc,
sigmafinal.sc,
sigma.sc,
tau.sc,
upsilon.sc,
phi.sc,
chi.sc,
psi.sc,
omega.sc,
iotatonos.sc,
iotadieresis.sc,
iotadieresistonos.sc,
upsilontonos.sc,
upsilondieresis.sc,
upsilondieresistonos.sc,
omicrontonos.sc,
omegatonos.sc,
alphatonos.sc,
epsilontonos.sc,
etatonos.sc,
prosgegrammeni.sc,
kaiSymbol.sc,
alphapsili.sc,
alphadasia.sc,
alphapsilivaria.sc,
alphadasiavaria.sc,
alphapsilioxia.sc,
alphadasiaoxia.sc,
alphapsiliperispomeni.sc,
alphadasiaperispomeni.sc,
alphavaria.sc,
alphaoxia.sc,
alphaperispomeni.sc,
alphavrachy.sc,
alphamacron.sc,
alphaypogegrammeni.sc,
alphavariaypogegrammeni.sc,
alphaoxiaypogegrammeni.sc,
alphapsiliypogegrammeni.sc,
alphadasiaypogegrammeni.sc,
alphapsilivariaypogegrammeni.sc,
alphadasiavariaypogegrammeni.sc,
alphapsilioxiaypogegrammeni.sc,
alphadasiaoxiaypogegrammeni.sc,
alphapsiliperispomeniypogegrammeni.sc,
alphadasiaperispomeniypogegrammeni.sc,
alphaperispomeniypogegrammeni.sc,
epsilonpsili.sc,
epsilondasia.sc,
epsilonpsilivaria.sc,
epsilondasiavaria.sc,
epsilonpsilioxia.sc,
epsilondasiaoxia.sc,
epsilonvaria.sc,
epsilonoxia.sc,
etapsili.sc,
etadasia.sc,
etapsilivaria.sc,
etadasiavaria.sc,
etapsilioxia.sc,
etadasiaoxia.sc,
etapsiliperispomeni.sc,
etadasiaperispomeni.sc,
etavaria.sc,
etaoxia.sc,
etaperispomeni.sc,
etaypogegrammeni.sc,
etavariaypogegrammeni.sc,
etaoxiaypogegrammeni.sc,
etapsiliypogegrammeni.sc,
etadasiaypogegrammeni.sc,
etapsilivariaypogegrammeni.sc,
etadasiavariaypogegrammeni.sc,
etapsilioxiaypogegrammeni.sc,
etadasiaoxiaypogegrammeni.sc,
etapsiliperispomeniypogegrammeni.sc,
etadasiaperispomeniypogegrammeni.sc,
etaperispomeniypogegrammeni.sc,
iotapsili.sc,
iotadasia.sc,
iotapsilivaria.sc,
iotadasiavaria.sc,
iotapsilioxia.sc,
iotadasiaoxia.sc,
iotapsiliperispomeni.sc,
iotadasiaperispomeni.sc,
iotavaria.sc,
iotaoxia.sc,
iotaperispomeni.sc,
iotavrachy.sc,
iotamacron.sc,
iotadialytikavaria.sc,
iotadialytikaoxia.sc,
iotadialytikaperispomeni.sc,
omicronpsili.sc,
omicrondasia.sc,
omicronpsilivaria.sc,
omicrondasiavaria.sc,
omicronpsilioxia.sc,
omicrondasiaoxia.sc,
omicronvaria.sc,
omicronoxia.sc,
rhopsili.sc,
rhodasia.sc,
upsilonpsili.sc,
upsilondasia.sc,
upsilonpsilivaria.sc,
upsilondasiavaria.sc,
upsilonpsilioxia.sc,
upsilondasiaoxia.sc,
upsilonpsiliperispomeni.sc,
upsilondasiaperispomeni.sc,
upsilonvaria.sc,
upsilonoxia.sc,
upsilonperispomeni.sc,
upsilonvrachy.sc,
upsilonmacron.sc,
upsilondialytikavaria.sc,
upsilondialytikaoxia.sc,
upsilondialytikaperispomeni.sc,
omegapsili.sc,
omegadasia.sc,
omegapsilivaria.sc,
omegadasiavaria.sc,
omegapsilioxia.sc,
omegadasiaoxia.sc,
omegapsiliperispomeni.sc,
omegadasiaperispomeni.sc,
omegavaria.sc,
omegaoxia.sc,
omegaperispomeni.sc,
omegaypogegrammeni.sc,
omegavariaypogegrammeni.sc,
omegaoxiaypogegrammeni.sc,
omegapsiliypogegrammeni.sc,
omegadasiaypogegrammeni.sc,
omegapsilivariaypogegrammeni.sc,
omegadasiavariaypogegrammeni.sc,
omegapsilioxiaypogegrammeni.sc,
omegadasiaoxiaypogegrammeni.sc,
omegapsiliperispomeniypogegrammeni.sc,
omegadasiaperispomeniypogegrammeni.sc,
omegaperispomeniypogegrammeni.sc,
Alphaprosgegrammeni.sc.ss05,
Alphapsiliprosgegrammeni.sc.ss05,
Alphadasiaprosgegrammeni.sc.ss05,
Alphapsilivariaprosgegrammeni.sc.ss05,
Alphadasiavariaprosgegrammeni.sc.ss05,
Alphapsilioxiaprosgegrammeni.sc.ss05,
Alphadasiaoxiaprosgegrammeni.sc.ss05,
Alphapsiliperispomeniprosgegrammeni.sc.ss05,
Alphadasiaperispomeniprosgegrammeni.sc.ss05,
Etaprosgegrammeni.sc.ss05,
Etapsiliprosgegrammeni.sc.ss05,
Etadasiaprosgegrammeni.sc.ss05,
Etapsilivariaprosgegrammeni.sc.ss05,
Etadasiavariaprosgegrammeni.sc.ss05,
Etapsilioxiaprosgegrammeni.sc.ss05,
Etadasiaoxiaprosgegrammeni.sc.ss05,
Etapsiliperispomeniprosgegrammeni.sc.ss05,
Etadasiaperispomeniprosgegrammeni.sc.ss05,
Omegaprosgegrammeni.sc.ss05,
Omegapsiliprosgegrammeni.sc.ss05,
Omegadasiaprosgegrammeni.sc.ss05,
Omegapsilivariaprosgegrammeni.sc.ss05,
Omegadasiavariaprosgegrammeni.sc.ss05,
Omegapsilioxiaprosgegrammeni.sc.ss05,
Omegadasiaoxiaprosgegrammeni.sc.ss05,
Omegapsiliperispomeniprosgegrammeni.sc.ss05,
Omegadasiaperispomeniprosgegrammeni.sc.ss05,
alphaypogegrammeni.sc.ss05,
alphavariaypogegrammeni.sc.ss05,
alphaoxiaypogegrammeni.sc.ss05,
alphapsiliypogegrammeni.sc.ss05,
alphadasiaypogegrammeni.sc.ss05,
alphapsilivariaypogegrammeni.sc.ss05,
alphadasiavariaypogegrammeni.sc.ss05,
alphapsilioxiaypogegrammeni.sc.ss05,
alphadasiaoxiaypogegrammeni.sc.ss05,
alphapsiliperispomeniypogegrammeni.sc.ss05,
alphadasiaperispomeniypogegrammeni.sc.ss05,
alphaperispomeniypogegrammeni.sc.ss05,
etaypogegrammeni.sc.ss05,
etavariaypogegrammeni.sc.ss05,
etaoxiaypogegrammeni.sc.ss05,
etapsiliypogegrammeni.sc.ss05,
etadasiaypogegrammeni.sc.ss05,
etapsilivariaypogegrammeni.sc.ss05,
etadasiavariaypogegrammeni.sc.ss05,
etapsilioxiaypogegrammeni.sc.ss05,
etadasiaoxiaypogegrammeni.sc.ss05,
etapsiliperispomeniypogegrammeni.sc.ss05,
etadasiaperispomeniypogegrammeni.sc.ss05,
etaperispomeniypogegrammeni.sc.ss05,
omegaypogegrammeni.sc.ss05,
omegavariaypogegrammeni.sc.ss05,
omegaoxiaypogegrammeni.sc.ss05,
omegapsiliypogegrammeni.sc.ss05,
omegadasiaypogegrammeni.sc.ss05,
omegapsilivariaypogegrammeni.sc.ss05,
omegadasiavariaypogegrammeni.sc.ss05,
omegapsilioxiaypogegrammeni.sc.ss05,
omegadasiaoxiaypogegrammeni.sc.ss05,
omegapsiliperispomeniypogegrammeni.sc.ss05,
omegadasiaperispomeniypogegrammeni.sc.ss05,
omegaperispomeniypogegrammeni.sc.ss05,
ypogegrammeni,
Alpha.sups,
Beta.sups,
Gamma.sups,
Delta.sups,
Epsilon.sups,
Zeta.sups,
Eta.sups,
Theta.sups,
Iota.sups,
Kappa.sups,
Lambda.sups,
Mu.sups,
Nu.sups,
Xi.sups,
Omicron.sups,
Pi.sups,
Rho.sups,
Sigma.sups,
Tau.sups,
Upsilon.sups,
Phi.sups,
Chi.sups,
Psi.sups,
Omega.sups,
alpha.sups,
beta.sups,
gamma.sups,
delta.sups,
epsilon.sups,
zeta.sups,
eta.sups,
theta.sups,
iota.sups,
kappa.sups,
lambda.sups,
mu.sups,
nu.sups,
xi.sups,
omicron.sups,
pi.sups,
rho.sups,
sigmafinal.sups,
sigma.sups,
tau.sups,
upsilon.sups,
phi.sups,
chi.sups,
psi.sups,
omega.sups,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.lf,
one.lf,
two.lf,
three.lf,
four.lf,
five.lf,
six.lf,
seven.lf,
eight.lf,
nine.lf,
zero.sinf,
one.sinf,
two.sinf,
three.sinf,
four.sinf,
five.sinf,
six.sinf,
seven.sinf,
eight.sinf,
nine.sinf,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.tosf,
one.tosf,
two.tosf,
three.tosf,
four.tosf,
five.tosf,
six.tosf,
seven.tosf,
eight.tosf,
nine.tosf,
zero.subs,
one.subs,
two.subs,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
three.subs,
four.subs,
five.subs,
six.subs,
seven.subs,
eight.subs,
nine.subs,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
zero.sups,
one.sups,
two.sups,
three.sups,
four.sups,
five.sups,
six.sups,
seven.sups,
eight.sups,
nine.sups,
fraction,
onehalf,
onethird,
twothirds,
onequarter,
threequarters,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
asterisk,
backslash,
periodcentered,
bullet,
colon,
comma,
ellipsis,
exclam,
exclamdown,
numbersign,
onedotenleader,
period,
question,
questiondown,
quotedbl,
quotesingle,
semicolon,
slash,
twodotenleader,
underscore,
backslash.case,
periodcentered.case,
bullet.case,
slash.case,
braceleft,
braceright,
bracketleft,
bracketright,
parenleft,
parenright,
braceleft.case,
braceright.case,
bracketleft.case,
bracketright.case,
parenleft.case,
parenright.case,
emdash,
endash,
figuredash,
horizontalbar,
hyphen,
hyphentwo,
softhyphen,
emdash.case,
endash.case,
hyphen.case,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
quotesinglbase,
guillemetleft.case,
guillemetright.case,
guilsinglleft.case,
guilsinglright.case,
exclam.sc,
exclamdown.sc,
question.sc,
questiondown.sc,
quotedbl.sc,
quotedblleft.sc,
quotedblright.sc,
quoteleft.sc,
quoteright.sc,
quotesingle.sc,
"leftanglebracket-math",
"rightanglebracket-math",
anoteleia,
questiongreek,
figurespace,
hairspace,
punctuationspace,
space,
nbspace,
thinspace,
zerowidthspace,
CR,
.notdef,
cedi,
cent,
colonsign,
currency,
dollar,
dong,
euro,
florin,
franc,
guarani,
hryvnia,
kip,
lira,
liraTurkish,
manat,
naira,
peseta,
peso,
ruble,
rupeeIndian,
sterling,
tenge,
tugrik,
won,
yen,
bulletoperator,
commercialMinusSign,
divisionslash,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
infinity,
emptyset,
integral,
Ohm,
increment,
product,
summation,
radical,
partialdiff,
micro,
percent,
perthousand,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
blackDiamond,
whiteDiamond,
lozenge,
blackSquare,
whiteSquare,
mediumBlackSquare,
upBlackTriangle,
rightBlackTriangle,
downBlackTriangle,
leftBlackTriangle,
upWhiteTriangle,
rightWhiteTriangle,
downWhiteTriangle,
leftWhiteTriangle,
mediumBlackCircle,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
bar,
brokenbar,
dagger,
literSign,
daggerdbl,
estimated,
numero,
asciicircum,
blackLargeCircle,
blackLargeSquare,
minute,
second,
at.case,
ampersand.sc,
"numeral-greek",
"lowernumeral-greek",
dieresiscomb,
dieresiscomb_gravecomb,
dieresiscomb_acutecomb,
dieresiscomb_caroncomb,
dieresiscomb_macroncomb,
dotaccentcomb,
dotaccentcomb_macroncomb,
gravecomb,
acutecomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
tildecomb_dieresiscomb,
tildecomb_acutecomb,
tildecomb_macroncomb,
macroncomb,
macroncomb_gravecomb,
macroncomb_acutecomb,
hookabovecomb,
dblgravecomb,
breveinvertedcomb,
commaturnedabovecomb,
horncomb,
dotbelowcomb,
dieresisbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
brevebelowcomb,
macronbelowcomb,
strokeshortcomb,
dieresiscomb.case,
dieresiscomb_acutecomb.case,
dieresiscomb_macroncomb.case,
dotaccentcomb.case,
dotaccentcomb_macroncomb.case,
gravecomb.case,
acutecomb.case,
hungarumlautcomb.case,
circumflexcomb.case,
caroncomb.case,
brevecomb.case,
ringcomb.case,
tildecomb.case,
tildecomb_dieresiscomb.case,
tildecomb_acutecomb.case,
tildecomb_macroncomb.case,
macroncomb.case,
macroncomb_gravecomb.case,
macroncomb_acutecomb.case,
dblgravecomb.case,
strokeshortcomb.case,
dieresiscomb.i,
apostrophemod,
commaturnedmod,
firsttonechinese,
fourthtonechinese,
primemod,
ringhalfleft,
ringhalfright,
secondtonechinese,
verticallinelowmod,
verticallinemod,
acute,
breve,
caron,
cedilla,
circumflex,
dieresis,
dotaccent,
grave,
hungarumlaut,
macron,
ogonek,
ring,
tilde,
caron.alt,
perispomenicomb,
koroniscomb,
dialytikatonoscomb,
ypogegrammenicomb,
tonos,
dieresistonos,
psili,
psili.case,
koronis,
dasia,
dasia.case,
psilivaria,
dasiavaria,
dasiavaria.case,
psilioxia,
psilioxia.case,
dasiaoxia,
dasiaoxia.case,
psiliperispomeni,
psiliperispomeni.case,
dasiaperispomeni,
dasiaperispomeni.case,
dialytikavaria,
dialytikaoxia,
dialytikaperispomeni,
varia,
oxia,
perispomeni,
perispomeni.case,
psilivaria.case,
"brevecomb-cy",
"brevecomb-cy.case",
"descender-cy",
"descender-cy.case",
"tail-cy.case",
brevecomb_acutecomb,
brevecomb_gravecomb,
brevecomb_hookabovecomb,
brevecomb_tildecomb,
circumflexcomb_acutecomb,
circumflexcomb_gravecomb,
circumflexcomb_hookabovecomb,
circumflexcomb_tildecomb,
Gdieresis,
Gtilde,
foundryicon,
gdieresis,
gtilde,
gdieresis.sc,
gtilde.sc,
spacingGlyph,
prime,
areas,
"verticalbar-cy.case",
"verticalbar-cy",
uni0000
)